<h1>Cat Furrm</h1>

<form action="/cats" method="post">
  <label for="cat_name">Full name</label>
  <input type="text" name="cat[name]" id="cat_name">
  <br>
  <label for="cat_birth_date">Date of Birth[YYYY-MM-DD]</label>
  <input type="text" name="cat[birth_date]" id="cat_birth_date">
  <br>
  <label for="cat_sex">Gender</label>
  <div>
    <input type="radio" name="cat[sex]" value="M">
    <label for="cat_sex_m">Male</label>
    <input type="radio" name="cat[sex]" value="F">
    <label for="cat_sex_f">Female</label>
  </div>
  <br>
  <label for="cat_description">Description</label>
  <textarea name="cat[description]" rows="8" cols="80"></textarea>
  <br>
  <label for="cat_color">Cat color</label>
  <select name="cat[color]">
    <option value="black">Black</option>
    <option value="brown">Brown</option>
    <option value="calico">Calico</option>
    <option value="gray">Gray</option>
    <option value="orange">Orange</option>
    <option value="tabby">Tabby</option>
    <option value="white">White</option>
  </select>
  <br>
  <input type="submit" value="Purrduce a Cat!">
</form>
