<h1>Sign Up</h1>


<form action=" <%= users_url %> " method="POST">
  <label for="user_email">Email</label>
  <input type="text" name="user[email]" value="">

  <br>

  <label for="user_password">Password</label>
  <input type="text" name="user[password]" value="">

  <input type="submit" name="" value="Submit">
</form>
